name: Documentation Workflow

on:
  push:
    branches:
      - dev
      - master
  pull_request:
    branches:
      - dev
      - master


jobs:
  documentation:

    runs-on: [ubuntu-18.04]

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Generate Markdown documentation
        run: ./gradlew :syftlib:dokka

      - name: Push docs
        run: |
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git config --global user.name "Github Action"
          git checkout -b "documentation_for_${{ github.event.pull_request.number }}"
          git add .
          git commit -m "Generated docs"
          git push

